<!DOCTYPE html>
<html>
  <head>
    <title>Counter Example</title>
  </head>
  <body>

    <p>Simple Counter Total: {{ simple_total }}</p>

    <form action="#" method="post">
      <input type="hidden" name="counter" value="simple" />
      <input type="submit" value="Increment Simple" />
    </form>

    <p>General Counter Total: {{ general_total }}</p>

    <form action="#" method="post">
      <input type="hidden" name="counter" value="general" />
      <input type="submit" value="Increment General" />
    </form>

  </body>
</html>