<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
  </head>
  <body>

    <p>List:</p>

    <table>
        <!--<caption>My table caption</caption>-->
        <thead>
            <tr>
                <th>Word</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for item in taskobjs %}
            <tr>
                <td>{{ item.word }}</td>
                <td>{{ item.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--
    <ul>
    {% for item in taskobjs %}
        <li>{{ item.word }} | {{ item.count }}</li>
    {% endfor %}
    </ul>
    -->
  </body>
</html>
