<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
  </head>
  <body>

    <p>Results for word: {{ taskobj.word }}</p>

    {% if taskobj.count != None %}
    <p>SLOWO WYSTEPUJE {{ taskobj.count }} RAZY.</p>
    {% else %}
    <p>ZADANIE W TOKU, PROSZĘ ODSWIEZYĆ</p>
    {% endif %}
  </body>
</html>
